section{

  color:green;
  a{
    color:red;
    &:hover{ color:blue;}
  }

}


//nav del fichero
nav{
  font-family: "American Typewriter";
}

footer {
  width: 100%;
  height: 50px;
  font-family: "Apple Color Emoji";
  font-size: 1em;

  a{
    padding:10px;
    &:hover{
      color:yellow;
      padding:5px;
    }
  }

}
